{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "jasmine": true,
    "commonjs": true,
  },
  "extends": "idiomatic",
  "globals": {
    "angular": 1,
    "inject": 1,
  },
  "rules": {
    "quotes": [
      "error",
      "double"
    ],
    "newline-after-var": [
      "error",
      "always"
    ],
    "no-console": [
      "error",
      { allow: [ "warn", "error" ] }
    ]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8 // or 2017
  }
}
