{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "jasmine": true,
  },
  "extends": "idiomatic",
  "globals": {
    "angular": 1,
    "inject": 1,
  },
  "rules": {
    "quotes": [
      "error",
      "double"
    ],
    "newline-after-var": [
      "error",
      "always"
    ]
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
