<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home" ui-sref-active="active">MarketWall Selector</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="lists" ui-sref-active="active">Stock List Picker</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="login" ng-hide="$ctrl.isLoggedIn()">Log in</a></li>
        <li><a href="" ng-click="$ctrl.logout()" ng-show="$ctrl.isLoggedIn()">Log out</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
