<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="unauthorized.home">
        <img alt="Rise Vision Logo"
             src="https://s3.amazonaws.com/Rise-Images/Website/rise-logo.svg">
      </a>
    </div>
    <!--navbar-header-->

    <ul class="nav navbar-nav navbar-right">

      <li uib-dropdown>

        <button class="dropdown-toggle btn btn-primary navbar-btn add-right" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
          <span class="hidden-xs">Need Help</span> <i class="fa fa-question"
                                                      style="line-height: 20px"></i>
        </button>

        <ul class="dropdown-menu">
          <li><a href="#">Ask the Community</a></li>
          <li><a href="#">Priority Support <span class="text-success">Fastest</span></a></li>
          <li><a href="#">Send Us a Note</a></li>
          <li><a href="#">Free Webinars</a></li>
          <li><a href="#">User Documentation</a></li>
          <li><a href="#">Rise Training</a></li>
          <li class="divider"></li>
          <li><a href="#">Contact Sales</a></li>
        </ul>

      </li>

      <li uib-dropdown ng-if="$ctrl.user">

        <div style="padding:4px;" class="dropdown-toggle clickable" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
          <div style="text-align: right; line-height: 36px; display: inline-block;">
            <p class="text-muted remove-bottom u_ellipsis u_ellipsis-md">{{ $ctrl.user.email }}</p>
          </div>
          <div
            style="vertical-align: top; margin-left: 10px; margin-top: 16px; display: inline-block;"
            class="caret"></div>
        </div>

        <ul class="dropdown-menu">
          <!--li ><a href="#" ng-click="$ctrl.open("template/editUser.html")">User Settings</a></li-->
          <li class="divider"></li>
          <li><a class="menu-link" ng-click="$ctrl.logout()">Log Out</a></li>
        </ul>

      </li>

    </ul>
    <!--nav-->

  </div>
  <!-- /.container-fluid -->
</nav>
