<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Success</h4>
</div>

<div class="modal-body" id="modal-body">
  <error-message message="$ctrl.errorMessage"></error-message>

  <div style="padding:20px;" class="text-center">
    <p>
      <strong>{{ $ctrl.email }}</strong> is now a User of the 
      <strong>{{ $ctrl.displayId }}</strong> Display
    </p>
    <a href="{{ $ctrl.mailTo }}" class="btn btn-primary">Send invitation email</a>
    <button class="btn btn-default" id="invite-success-ok-button" ng-click="$ctrl.ok()">OK</button>
  </div>

</div>
