<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Success</h4>
</div>

<div class="modal-body" id="modal-body">
  <error-message message="$ctrl.errorMessage"></error-message>

  <div style="padding:20px;" class="text-center">
    <p>An invitation email for display
      <strong>{{ $ctrl.displayId }}</strong>
      was sent to
      <strong>{{ $ctrl.email }}</strong>.
    </p>
    <button class="btn btn-default" id="invite-success-ok-button" ng-click="$ctrl.ok()">OK</button>
  </div>

</div>
