<div class="financial-selector financial-selector--login" ng-class="{ 
    'financial-selector financial-selector--login': !emailLogin,
    'financial-selector financial-selector--login is-email-login': emailLogin
  }">

  <div class="container">

    <div class="financial-selector__container" ng-class="{'email-login-animation' : emailLogin}">
      <div class="hero" ng-class="{'leave' : emailLogin}">
        <h1>Financial Selector</h1>

        <h3 class="add-left add-right">Use Financial Selector to manage the financial instruments in
          your digital signage.</h3>
        <br>

        <div class="row add-top add-bottom">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="login-options">
              <auth-form-google
                submit-action="$ctrl.loginWithGoogle()">
              </auth-form-google>
            </div>
          </div>
          <!--col-->
        </div>
        <!--row-->
      </div>
      <!--hero-->

    </div>
    <!--financial-selector__container-->
  </div>
</div>
