<h1>Financial Selector</h1>

<h3 class="add-left add-right">Use Financial Selector to manage the financial instruments in
  your digital signage.</h3>
<br>

<div class="row add-top add-bottom">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="login-options">
      <a ui-sref="unauthorized.passwordLogin" 
        class="btn btn-google-auth btn-lg btn-block add-bottom">

        <span style="margin-left: -20px; ">
          Log in with Email
        </span>
      </a>
      <auth-form-google
        submit-action="$ctrl.loginWithGoogle()">
      </auth-form-google>
    </div>
  </div>
  <!--col-->
</div>
<!--row-->