<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default panel-email-login visible">
        <div class="panel-body">

        <form
          ng-if="!$ctrl.sent"
          name="authForm"
          ng-submit="authForm.$valid && $ctrl.sendPasswordResetEmail()" 
          class="add-bottom" >
            <fieldset>
            <legend class="text-center">Recover Your Password</legend>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    <label for="exampleInputEmail">Your Email</label>
                    <p class="text-muted">Enter the email you've used to when you registered. We'll email the recovery instructions to that address.</p>
                    <input
                      name="email"
                      ng-model="$ctrl.email" 
                      reqired
                      type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
                    <div ng-show="authForm.$submitted">
                      <p ng-show="authForm.email.$error.required" class="text-danger">Email required</p>
                      <p ng-show="authForm.email.$error.email" class="text-danger">Please enter a valid email.</p>
                    </div>
                </div>
                <button type="submit"  class="btn btn-primary btn-lg btn-block">Submit</button>
                </div><!--col-->
            </div><!--row-->
            </fieldset>
        </form><!-- end ngIf: forgotPass -->
        
        <div ng-if="$ctrl.sent">
            <p>
                An email with password reset instructions has been sent to your email address.
            </p>
            <p>
              <a ui-sref="unauthorized.home">Go to Home Page</a>
            </p>
        </div>

        </div><!--panel-body-->
    </div><!--panel-default-->
    </div>
</div>