<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default panel-email-login visible">
        <div class="panel-body">

        <div
          name="authForm"
          ng-if="$ctrl.auth && !$ctrl.auth.emailVerified"
          class="add-bottom" >
            <fieldset>
                <legend class="text-center">
                    Email Verification is Required
                </legend>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                    <p><strong>{{$ctrl.auth.email}}</strong></p>
                    <p class="text-muted">
                        Please check your email and follow the instructions on the email we have sent to you to finish the registration process.
                    </p>
                    <button type="button"  
                    ng-if="!$ctrl.sent"
                    ng-click="$ctrl.resend()"
                    class="btn btn-primary btn-lg btn-block">
                        Re-send verification email
                    </button>

                    <p ng-if="$ctrl.sent">Verification email sent.</p>
                    </div><!--col-->
                </div><!--row-->
            </fieldset>
        </div>
        <div ng-if="$ctrl.auth && $ctrl.auth.emailVerified">
            <p>
                You email address has already been verified. 
            </p>
            <p>
              <a ui-sref="unauthorized.home">Go to Home Page</a>
            </p>
        </div>

       
        </div><!--panel-body-->
    </div><!--panel-default-->
    </div>
</div>