<form 
  name="authForm" 
  ng-submit="authForm.$valid && $ctrl.submitForm()"  
  class="add-bottom auth-form">
    <fieldset>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label for="email">Your Email</label>
            <input id="email" 
            ng-model="$ctrl.user.email" 
            ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }" 
            type="email" 
            required
            name="email" class="form-control"  placeholder="Enter email">
            <!--Email error-->
            <div ng-show="authForm.$submitted">
                <p ng-show="authForm.email.$error.required" class="text-danger">Email required</p>
                <p ng-show="authForm.email.$error.email" class="text-danger">Please enter a valid email.</p>
            </div>

        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <input 
            ng-model="$ctrl.user.password" 
            type="password" 
            name="password"
            required
            class="form-control" id="exampleInputPassword" placeholder="Password">
            <div ng-show="authForm.$submitted">
            <p ng-show="authForm.password.$error.required" class="text-danger">Password required</p>
            </div>
        </div>
        <button type="submit" 
          ng-disabled="$ctrl.sending"
          class="btn btn-primary btn-lg btn-block">
            {{ $ctrl.sending ? "Sending..." : $ctrl.submitButtonText }}
        </button>
        </div><!--col-->
    </div><!--row-->
    </fieldset>
</form>