<div class="row">
  
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default panel-email-login visible">
      
      <div class="panel-body">
        <legend class="text-center">Sign Up for Financial Selector</legend>
        <p 
          ng-show="$ctrl.error" 
          ng-bind="$ctrl.error"
          class="text-danger" ></p>

        <password-form 
          on-submit="$ctrl.register(user)"
          submit-button-text="Sign up">
        </password-form>

        <a ui-sref="^.passwordLogin" 
          class="text-center btn btn-link btn-block">
          Log in
        </a>
      </div><!--panel-body-->
    </div><!--panel-default-->
  </div>
</div>